---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Written by</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  {{ content }}
  
  <div class="post-profile">
    {% if site.author.thumbnail %}
    <div class="post-profile-thumb">
      <img src="{{ site.url }}/assets/images/{{ site.author.thumbnail }}" alt="{{ site.author.name }}">
    </div>
    {% endif %}

    <div class="post-profile-desc">
      <p><strong>{{ site.author.name }}</strong></p>

      <p>
        {{ site.description }}
        <br>
        {% if site.github_username %}{% include icon-github.html username=site.github_username %}{% endif %}
        {% if site.facebook_username %}{% include icon-facebook.html username=site.facebook_username %}{% endif %}
        {% if site.twitter_username %}{% include icon-twitter.html username=site.twitter_username %}{% endif %}
        {% include icon-email.html useremail=site.author.email %}
        {% include icon-rss.html %}
      </p>
    </div>
  </div>
</div>

<div>
  <iframe src="//www.facebook.com/plugins/like.php?href={{ page.url | prepend: site.url }}&amp;send=false&amp;layout=button_count&amp;width=61&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=21" scrolling="no" frameborder="0" allowtransparency="true" height="20" width="61"></iframe>
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ page.url | prepend: site.url }}" data-count="horizontal"></a>
  <div style="display: inline;"><div class="g-plus" data-action="share" data-href="{{ page.url | prepend: site.url }}"></div></div>
</div>

<div class="fb-comments" data-href="{{ page.url | prepend: site.url }}" data-width="800" data-numposts="5"></div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.10&appId={{ site.facebook_appid }}";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>